.min-h {
  min-height: 140px;
}

.bgc-black {
  background-color: black;
}

.flex {
  display: flex;
  /* width: 100%; */
}

.flex-center {
  justify-content: start;
  align-items: center;
  padding-left: 8rem;
}

.flex-rol {
  flex-direction: column
}

.h-auto {
  height: fit-content !important;
}

.shadow-btm {
  box-shadow:  1px 0px 6px 1px #000;
}

/*  */
.container {
  /* display: flex; */
  /* flex-direction: column; */
  width: 989px;
  margin: auto;
  height: 30rem;
}

.justify-between {
  justify-content: space-between;
}

.w-75 {
  width: 75% !important;
}

.w-25 {
  width: 25% !important;
}

.margin {
  margin: 0 4rem;
}

.margin-top {
  margin-top: 2rem;
}

/* input */
.pl-inside {
  padding: 0.5rem;
}

.text-size {
  font-size: small;
}

.rounded:hover {
  border-radius: 1px;
}

/* btn */
.text-white {
  color: #fff;
  font-size: medium;
  font-weight: 900;
}

.border {
  border: 2px solid rgb(20, 20, 20);
}

.border-none {
  border: none;
}

.bgc-blue {
  background-color: #00A3E0;
}

.rounded {
  border-radius: 1px;
}

.pl {
  padding: 0 25px;
}

.focus {
   cursor: pointer;
}

